
@import './base.css'; /* Import base CSS file to inherit styles */

@font-face {
  font-family: 'Helvetica'; 
  src: url('../Fonts/Helvetica.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

.hero-section {
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh; 
  background-size: cover;
  background-position: center;
  gap: 13px
}

.hero-overlay {
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: 1; 
}

.hero-title {
  color: white;
  font-weight: 900;
  z-index: 2; 
  text-align: center;
  font-family: Helvetica;
  font-size: 60px;
}

.hero-subtitle {
  color: rgba(210, 117, 25, 1);
  font-weight: 600;
  z-index: 2;
  text-align: center; 
  font-family: Helvetica, sans-serif;
  font-size: 30px;

}

.hero-buttons {
  margin-top: 1rem; 
  z-index: 2;
  display: flex; 
  gap: 1rem;
  align-self: center;
}

.hero-button-contained {
  transition: background-color 0.3s ease; 
}

.hero-button-contained:hover {
  background-color: var(--highlight-color); 
}
